$green: #53DF83;
$blue: #47D2E9;
$red: #FC575E;
$light-grey: #EEEEEE;
$dark-grey: #3F3F3F;

* {
	box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

body {
	background-color: $green;
	font-family: 'Jaldi', sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	background-color: #fff;
	text-align: center;
}

/* Type */

a {
	color: $blue;
	text-decoration: none;
}

a.delete-list {
	background-color: #fff;
	color: $red;
	position: absolute;
	right: 0;
	top: 0;
	padding: 2px 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	transform: scale(1,.85);
}

a.edit-list {
	display: block;
	margin: 15px 0 0 0;
}

p {
	font-size: 16px;
	line-height: 24px;
	margin: 5px 0 10px 0;
}

p.notes {
	color: darken($light-grey, 30%);
}

h1 {
	color: $dark-grey;
	font-size: 48px;
	margin: 0;
}

h2 {
	border-bottom: 1px solid $light-grey;
	font-size: 32px;
	line-height: 32px;
	margin: 0 0 5px;
	padding: 0 0 5px;
	position: relative;
}

h3 {
	color: $blue;
	font-size: 28px;
	line-height: 24px;
	margin: 5px 0 15px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 30px;
}

ul li {
	background-color: #fff;
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.15);
	margin: 0 0 15px;
	padding: 30px;
}

/* Forms */

.add-list-form {
	background-color: #fff;
	border-top: 1px solid $light-grey;
	margin: 0 0 30px 0;
	padding: 30px;
}

input[type='text'],
textarea {
	display: block;
	border: none;
	border-bottom: 2px solid $light-grey;
	margin: 0 0 15px;
	padding: 4px 12px;
	width: 100%;
	font-size: 16px;
}

input[type='text'] {
	height: 40px;
	line-height: 24px;
}

textarea {
	height: 100px;
	padding: 8px 12px;
}

input[type='submit'] {
	background-color: $blue;
	border: 2px solid $blue;
	color: #fff;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 7px 30px;
	display: inline-block;
	margin: 0 0 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.15s;

	&:hover {
		background-color: darken($blue, 15%);
	}
}