* {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

body {
  background-color: #53DF83;
  font-family: 'Jaldi', sans-serif;
  margin: 0;
  padding: 0; }

.header {
  background-color: #fff;
  text-align: center; }

/* Type */
a {
  color: #47D2E9;
  text-decoration: none; }

a.delete-list {
  background-color: #fff;
  color: #FC575E;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  transform: scale(1, 0.85); }

a.edit-list {
  display: inline-block;
  margin: 15px 0 0 0; }

p {
  font-size: 16px;
  line-height: 24px;
  margin: 5px 0 10px 0; }

p.notes {
  color: #a2a2a2; }

h1 {
  color: #3F3F3F;
  font-size: 48px;
  margin: 0; }

h2 {
  border-bottom: 1px solid #EEEEEE;
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 5px;
  padding: 0 0 5px;
  position: relative; }

h3 {
  color: #47D2E9;
  font-size: 28px;
  line-height: 24px;
  margin: 5px 0 15px; }

h4 {
  color: #727272;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  position: relative; }

/* Lists */
.lists > ul {
  list-style: none;
  padding: 30px; }
  @media (min-width: 890px) {
    .lists > ul {
      display: flex;
      flex-wrap: wrap; } }

.lists > ul > li {
  background-color: #fff;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
  margin: 0 0 15px;
  padding: 30px; }
  @media (min-width: 890px) {
    .lists > ul > li {
      margin: 0 2% 30px 2%;
      width: 46%; } }
  @media (min-width: 1200px) {
    .lists > ul > li {
      width: 29%; } }

/* List items */
.list-items ul {
  margin: 15px -30px 15px -30px; }

.list-items ul li {
  background-color: #EEEEEE;
  margin: 0 0 2px;
  padding: 15px 30px; }

.list-items-none {
  border: 4px dashed #EEEEEE;
  margin: 15px 0 20px;
  padding: 18px;
  text-align: center; }

/* Forms */
.add-list-form {
  background-color: #fff;
  border-top: 1px solid #EEEEEE;
  margin: 0 0 30px 0;
  padding: 30px; }

input[type='text'],
textarea {
  display: block;
  border: none;
  border-bottom: 2px solid #EEEEEE;
  margin: 0 0 15px;
  padding: 4px 12px;
  width: 100%;
  font-size: 16px; }

input[type='text'] {
  height: 40px;
  line-height: 24px; }

textarea {
  height: 100px;
  padding: 8px 12px; }

.btn,
input[type='submit'] {
  background-color: #47D2E9;
  border: 2px solid #47D2E9;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 7px 30px;
  display: inline-block;
  margin: 0 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.15s; }
  .btn:hover,
  input[type='submit']:hover {
    background-color: #18b2cb; }
